<%- include('./partials/header') %>

    <div>


        <div>
            <h2>
                Book Details
            </h2>
            <ul>
                <li>
                    <h5 class=>Title:</h5>
                    <h6>
                        <%=data.title%>
                    </h6>
                    <h5>Author:</h5>
                    <h6>
                        <%=data.authorLast%>, <%=data.authorFirst%>
                    </h6>

                    <h5>Own Status </h5>
                    <input type="checkbox" name="audio" <%=data.own.audio ? "checked" : "" %> disabled>Audiobook<br />
                    <input type="checkbox" name="ebook" <%=data.own.ebook ? "checked" : "" %> disabled>e-Book<br />
                    <input type="checkbox" name="paper" <%=data.own.paper ? "checked" : "" %>
                    disabled>Paper/Hard-back<br />
                    <h5>Read Status</h5>
                    <input type="radio" name="readStatus" value="reading" <%=data.readStatus==='reading' ? "checked"
                        : "" %> disabled>Reading
                    It<br />
                    <input type="radio" name="readStatus" value="read" <%=data.readStatus==='read' ? "checked" : "" %>
                    disabled>Finished
                    It<br />
                    <input type="radio" name="readStatus" value="wantToRead" <%=data.readStatus==='wantToRead'
                        ? "checked" : "" %> disabled>Want to Read<br />
                    <h5>Tags:</h5>
                    <h6>
                        <%=data.tags%>
                    </h6>
                </li>
            </ul>
        </div>
        <a href="/bookshelf">Back to Shelf</a>
        <a href="/bookshelf/<%=data._id%>/edit">Edit This</a>

        <!-- <a href="/bookshelf"><img src="" alt="">Delete</a> -->
        <form class="" action="/bookshelf/<%=data._id%>?_method=DELETE" method="POST">
            <input class="btn" type="submit" value="Delete"
                onclick="return confirm('Do you really want to delete this book?')" />
        </form>
    </div>

    <%- include('./partials/footer') %>