<%- include('./partials/header') %>
    <div class="editContainer">
        <div class="card" style="width: 18rem;">
            <a href="/bookshelf" class="btn btn-sm btn-warning">View Shelf</a>
            <form action="/bookshelf/<%=data._id%>?_method=PUT" method="POST">
                Title: <input type="text" name="title" value="<%=data.title%>"><br />

                Author First: <input type="text" name="authorFirst" value="<%=data.authorFirst%>"><br />
                Author Last: <input type="text" name="authorLast" value="<%=data.authorLast%>"><br />

                I Own it!<br />
                <input type="checkbox" name="audio" <%=data.own.audio ? "checked" : "" %>>Audiobook<br />
                <input type="checkbox" name="ebook" <%=data.own.ebook ? "checked" : "" %>>e-Book<br />
                <input type="checkbox" name="paper" <%=data.own.paper ? "checked" : "" %>>Paper/Hard-back<br />

                I Read it!<br />
                <input type="radio" name="readStatus" value="reading" <%=data.readStatus==='reading' ? "checked" : ""
                    %>>Reading
                It<br />
                <input type="radio" name="readStatus" value="read" <%=data.readStatus==='read' ? "checked" : ""
                    %>>Finished
                It<br />
                <input type="radio" name="readStatus" value="wantToRead" <%=data.readStatus==='wantToRead' ? "checked"
                    : "" %>>Want to Read<br />

                Genre Tags: <input type="text" name="genretag" value="<%=data.genretag%>"><br />

                <input type="submit" class="btn btn-sm btn-primary" value="Save Changes">

            </form>
            <a href="/bookshelf/<%=data._id%>" class="btn btn-sm btn-danger">Cancel</a>
        </div>
    </div>
    <%- include('./partials/footer') %>